.text1 {
  font-family: Karla;
  font-size: 30px;
  font-weight: 500;
  line-height: 58.45px;
  text-align:center;
  color: #3c3c3c;
}
.text1 img{
  width: 1663px;
  height: 1261.28px;
  top: 1191px;
  left: 176px;
  gap: 0px;
  opacity: 0px;
  
}